target/
bin/
!cli/bin/
node_modules/
coverage/

# Eclipse IDE
.settings/
.classpath
.project

# Generated
*.target
!jdtbridge.target
!jdtbridge-ci.target
*.class

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
*.swp
*.swo
